 body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    font-family: 'Roboto', sans-serif;
}

.day-view {
    flex: 1535 0 0;
    background: #FFF;
}

.month-view {
    flex: 799 0 0;
    padding: 0 4.37% 0 4.11%;
    box-sizing: border-box;
    background: rgba(42, 46, 65, 0.7);
}

.calendar__header {
    padding: 84px 0;
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.calendar__header::before, 
.calendar__header::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';

    mix-blend-mode: normal;

    width: 100%;
    height: 2px;
}

.calendar__header::before {
    background: #000000;
    opacity: 0.17;
}

.calendar__header::after {
    bottom: -2px;
    background: #FFF;
    opacity: 0.13;
}

.calendar__title {
    flex: 1 0 0;
    order: 2;
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: #FFF;
}

.calendar__btn {
    flex: 0 0 20px;
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    color: #FFF;
}

.calendar__btn:hover {
    color: #88b1f6;
}

.calendar__btn:focus {
    color: #88b1f6;
    outline: none;
}

.calendar__btn-image {
    width: 100%;

    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.calendar__btn--next {
    order: 3;
}

.calendar__btn-image--rotated {
    transform: rotate(180deg);
}

.calendar__btn--prev {
    order: 1;
}

.calendar__day-names {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;

    display: flex;
}

.calendar__days {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.calendar__day {
    flex-basis: 13%;
    flex-shrink: 0;
    flex-grow: 1;
    padding: .08621em;

    padding: 1.07vw 0;

    font-size: 29px;
    line-height: 1.1725;

    display: flex;
    justify-content: center;
}

.calendar__day-name {
    flex: 1 0 0;
    text-align: center;

    font-size: 26px;
    line-height: 1.1539;
    color: #FFF;
   
    mix-blend-mode: normal;
    opacity: 0.6;
}

.calendar__day a {
    position: relative;
    z-index: 1;

    display: block;

    font-weight: bold;
    font-size: inherit;
  
    text-align: center;

    text-decoration: none;

    width: 3.4276vw;
    height: 3.4276vw;
    line-height: 3.4276vw;

    color: #FFF;
}

.calendar__day a:hover::after,
.calendar__day--current a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3C82F9;
    border-radius: 50%;

    z-index: -1;
}

.calendar__btn .calendar__btn-prev {
    height: 18px;
    width: 36px;
    color: #FFF;
}
.calendar__btn .calendar__btn-next {
    height: 18px;
    width: 36px; 
    color: #FFF;
}
.categories {
    margin-top: 124px;
    box-sizing: border-box;
    min-height: 711px;
    color: #FFF;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-basis: 50%;
   
    /* margin-top: 50px;
    margin-bottom: 35px; */
}
.categories__title-content {
    font-size: 29px;
    line-height: 33,98px;
    font-weight: 500;
    
}
.categories::before,
.categories::after {
    position: absolute;
    left: 0;
    content: '';
    top: 0;

    mix-blend-mode: normal;

    width: 100%;
    height: 2px;
}

.categories::before {
    background: #000000;
    opacity: 0.17;
    top: -2px;
}

.categories::after {
    background: #FFF;
    opacity: 0.13;
    /* top: -3; */
}

/* .categories__buttons {
    margin: 0;
    padding: 0;
    border: 0;
} */

.buttons__items {
    margin-top: 42px;
    height: 80px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories__buttons-finance {
    width: 285px;
    justify-content: center;
  

    background: #8576ED;
    order: 1;
    line-height: 25.78px;
    text-decoration: none;
    padding: 28px;
    color: #FFF;
    border-radius: 12px;
    display: flex;

    flex-wrap: wrap;
    flex-basis: 100%;
    max-width: 30%;
    margin-bottom: 30px;
    margin-right: 28px;
}

.categories__buttons-management {
    /* width: 285px; */

    background: #F39946;
    justify-content: center;

    width: 285px;
    order: 2;
    line-height: 25.78px;
    text-decoration: none;
    padding: 28px;
    color: #FFF;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    max-width: 30%;
    margin-bottom: 30px;

}

.categories__buttons-design {
    /* width: 285px; */

    background: #FF467E;
    justify-content: center;
    width: 285px;
    order: 3;
    line-height: 25.78px;
    text-decoration: none;
    padding: 28px;
    color: #FFF;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    max-width: 30%;
    margin-bottom: 30px;
    margin-right: 28px;
}
